# General
.DS_Store

# VSCodium
config/Library/Application\ Support/VSCodium/*
!config/Library/Application\ Support/VSCodium/User/keybindings.json
!config/Library/Application\ Support/VSCodium/User/settings.json
!config/Library/Application\ Support/VSCodium/User/settings.win.json
